.create-task-modal-container {
    padding: 20px 0 20px 0;
}

.container .header-wrapper {
    height: 70px;
    display: flex;
    flex-flow: column wrap;
}

.header-wrapper .title-text-field {
    max-height: 40px;
}

.header-wrapper .title-button-wrapper {
    flex: 1 0 auto;
}

.container .content-wrapper {
    background-color: green;
}