.detail-task-container {

}

.task-wrapper {
    display: flex;
    flex-flow: row wrap;
    border-bottom: 1px solid black;
}

.task-label {
    flex: 0 1 150px;
    border-right: 1px solid black;
    padding: 8px;
}

.task-label input {
    width: 100%;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    text-overflow: ellipsis;
    background-color: transparent;
}

.task-content {
    flex: 1 0 auto;
}

.task-content .add-task {
    width: 100%;
    height: 100%;
    background-color: transparent;
}