.normal-style-text-field-container {
    min-height: 44px;
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
}

.text-field {
    flex: 1 0 auto;
    font-size: 24px;
    font-weight: 600;
    padding: 5px;
    transition: 0.2s;
}

.text-field.label:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

input.text-field:focus {
    outline: none !important;
    border: 1px solid black;
}

.button-wrapper {
    flex: 0 1 90px;
    display: flex;
    flex-flow: row wrap;
    gap: 8px;
}

.button-wrapper button {
    flex: 1 0 auto;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 80%;
    transition: 0.2s;
}

.button-wrapper button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.button-wrapper button.cancel {
    background-image: url("@/assets/cancel.svg");
}

.button-wrapper button.confirm {
    background-image: url("@/assets/check.svg");
}

