.create-task-modal-container {
    padding: 20px 0 20px 0;
}

.create-task-modal-container .header-wrapper {
    height: 80px;
    display: flex;
    flex-flow: column wrap;
}

.header-wrapper .title-wrapper {
    flex: 1 1 auto;
    display: flex;
    /*flex-flow: row wrap;*/
    align-items: center;
}

.header-wrapper .task-title {
    flex: 1 0 auto;
    font-size: 24px;
    font-weight: 600;
    padding: 5px;
}

input.task-title.text-field:focus {
    outline: none !important;
    border: 1px solid black;
}

.header-wrapper .title-button-wrapper {
    flex: 0 1 30px;
    background-color: #2c3e50;
}

