.normal-style-modal-container,
.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.normal-style-modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-wrapper {
    max-width: 800px;
    height: 600px;
    padding: 20px;
    flex: 1 0 auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    position: relative;
    background-color: white;
}

.modal-header {
    flex: 0 1 80px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.modal-header .title-wrapper {
    max-width: 600px;
}

.title-wrapper .title {
    font-size: 32px;
}

.title-wrapper .subtitle {
    font-size: 16px;
}

.modal-header .button-wrapper {
    flex: 0 1 30px;
}

.button-wrapper .dismiss {
    background-color: transparent;
}

.modal-content {
    flex: 1 0 auto;
}

.modal-footer {
    flex: 0 1 80px;
    padding-top: 20px;
    display: flex;
    gap: 20px;
    border-top: 1px solid black;
}

.modal-footer button {
    flex-grow: 1;
    font-size: 16px;
    border: 1px solid black;
    background-color: transparent;
}
